<div class="container mt-5">
  <div class="card" div class="img" >
    <div class="head">
      <div class="col-md-9" >
      <h2>Rate The Product of Korean MakeUp </h2>
    </div>
   
    <div class="row mt-4">
      
      <div class="col-md-6" >
        
        <img style="width: 450px; padding: 20px;" src="../assets/koream.jpg" alt="">
      </div>
      <div class="col-md-5" >
        <p>"Look after yourself from within,and your beauty will shine through on your skin!" Life is full of beauty. Notice it. Notice the bumble bee, the small child, and the smiling faces. Smell the rain, and feel the wind. Live your life to the fullest potential, and fight for your dreams.</p>
        
        <hr>
        <div class="col-md-6" >
          
          
          <div class="one">   
            <pre>Rate: <b>{{currentRate}}</b> of 5</pre>
            <ngb-rating [max]="5"[(rate)]="currentRate"></ngb-rating>
        </div>
      </div>
    </div>
  </div>
</div>


